<svg>    
        <line [attr.x1]="centro" [attr.y1]="centro" [attr.x2]="poleX" [attr.y2]="poleY" style="stroke:rgb(255,0,0);stroke-width:2" />
        <line [attr.x1]="poleX" [attr.y1]="poleY" [attr.x2]="endEffectorX" [attr.y2]="endEffectorY" style="stroke:rgb(255,0,0);stroke-width:2" />
        <circle [attr.cx]="endEffectorX" [attr.cy]="endEffectorY" r="1" stroke="blue" stroke-width="4" fill="purple" />
        <circle [attr.cx]="centro" [attr.cy]="centro" r="1" stroke="green" stroke-width="4" fill="yellow" />
        <circle [attr.cx]="poleX" [attr.cy]="poleY" r="1" stroke="green" stroke-width="4" fill="yellow" />
</svg>
