<div class="container">
  <svg viewBox="0 0 40 10" width="100%" height="100%">
    <svg:g app-svg [centroX]="centroX" [centroY]="centroY" [efectorX]="x" [efectorY]="y" [poleX]="poleX" [poleY]= "poleY"/>
  </svg>
  
  <div>
    <input [(ngModel)]="baseAngle" (change)="directKinematics()" type="range" [min]="-180" [max]="180"> {{baseAngle}}
    <br>
    <input [(ngModel)]="efectorAngle" (change)="directKinematics()" type="range" [min]="-180" [max]="180"> {{efectorAngle}}
    <br>
    {{x - centroX}} {{y - centroY}}
    <br>
    {{poleX - centroX}} {{poleY - centroY}}
    <!-- <input [(ngModel)]="positionX" (change)="inverseKinematics()" type="range" [min]="-25" [max]="25"> {{positionX - centro}}
    <br>
    <input [(ngModel)]="positionY" (change)="inverseKinematics()" type="range" [min]="-25" [max]="25"> {{positionY - centro}}
    <br> -->
    <!-- <button type="submit" (submit)="onSubmit()">Subir</button> -->
  </div>
 
  
</div>
