<mat-toolbar color="primary">Robot revolute-revolute</mat-toolbar>
<div class="container">
    <div class="targets">
        <form [formGroup]="trajectoryForm">
                <mat-input-container>
                        <input placeholder="time" formControlName="time" matInput type="number" name="velocity">
                </mat-input-container>
                <mat-input-container>
                        <input placeholder="points" formControlName="points" matInput type="number" name="velocity">
                </mat-input-container>
                <button color="primary" mat-raised-button (click)="setInitHere()">Set initial target</button><br><br>
                x: {{trajectoryForm.value.initTarget?.x}} | y: {{trajectoryForm.value.initTarget?.y}} | z: {{trajectoryForm.value.initTarget?.z}} <br><br>
                <button color="primary" mat-raised-button (click)="setFinalHere()">Set final target</button> <br><br>
                x: {{trajectoryForm.value.finalTarget?.x}} | y: {{trajectoryForm.value.finalTarget?.y}} | z: {{trajectoryForm.value.initTarget?.z}} <br><br>
                <br>
                <button color="primary" mat-raised-button (click)="buttonGcode()">Ver Gcode elaborado</button>
                <!-- <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem" *ngFor="let target of targets">
                        x: {{target.x | number:'1.0-2'}} | y: {{target.y |number:'1.0-2'}} <br>
                        Velocity: {{target.velocity}} <br>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    
            </mat-list> -->
        </form>
        <br>
        <mat-input-container>
            <textarea placeholder="Aquí va el Gcode generado" [(ngModel)] ="gcode" matInput name="" id="" cols="30" rows="5"></textarea>
        </mat-input-container>
        <button color="accent" mat-raised-button (click)="downloadGcode()">Descargar Gcode</button>

    </div>
    <div class="graph">
            <svg viewBox="-125 -25 250 90" width="100%" height="100%">
                    <!-- <svg:g app-svg [x]="x" [y] = "y"/> -->
                    <svg:g app-traditional [a1]="a1" [a2]="a2" [gyro]="gyro" [r1]="r1" [r2]="r2" [positions]="positions" />
                </svg>
    </div>
    <div class="controlGrid">
            <form [formGroup]="velocityForm">
                    <div class="cartesianGrid">
                            <mat-input-container>
                                    <input placeholder="x vel" formControlName="xVel" matInput type="number" name="" id="">
                                    <mat-hint align="end">{{xVel}}</mat-hint>
                            </mat-input-container>
                            <mat-input-container>
                                    <input placeholder="y vel" formControlName="yVel" matInput type="number" name="" id="">
                                    <mat-hint align="end">{{yVel}}</mat-hint>
                            </mat-input-container>
                            <mat-input-container>
                                    <input placeholder="z vel" formControlName="zVel" matInput type="number" name="" id="">
                                    <mat-hint align="end">{{zVel}}</mat-hint>
                            </mat-input-container>
                    </div>   
                </form>
        <form [formGroup]="cartesianForm">
            <div class="cartesianGrid">
                    <mat-input-container>
                            <input placeholder="x" formControlName="x" matInput type="number" name="" id="">
                            <mat-hint align="end">{{x}}</mat-hint>
                    </mat-input-container>
                    <mat-input-container>
                            <input placeholder="y" formControlName="y" matInput type="number" name="" id="">
                            <mat-hint align="end">{{y}}</mat-hint>
                    </mat-input-container>
                    <mat-input-container>
                            <input placeholder="z" formControlName="z" matInput type="number" name="" id="">
                            <mat-hint align="end">{{z}}</mat-hint>
                    </mat-input-container>
            </div>   
        </form>
        <form [formGroup]="positionForm">
            <div class="positionGrid">
                <mat-card class="result">
                    <!-- <mat-slide-toggle formControlName="sigma">{{sigma}}</mat-slide-toggle> -->
                    <mat-card-title>r</mat-card-title>
                    <mat-card-subtitle>{{r | number:'1.0-2'}}</mat-card-subtitle>
                    <mat-card-content>
                        <mat-slider [max]="140" [min]="-140" formControlName="r" thumb-label="true" step="1" vertical>
                        </mat-slider>
                    </mat-card-content>
                </mat-card>
                <mat-card class="result">
                    <mat-card-title>z</mat-card-title>
                    <mat-card-subtitle>{{z | number:'1.0-2'}}</mat-card-subtitle>
                    <mat-card-content>
                        <mat-slider [max]="140" [min]="-140" formControlName="z" thumb-label="true" step="1" vertical>
                        </mat-slider>
                    </mat-card-content>
                </mat-card>
                <mat-card class="result">
                    <mat-card-title>Phi</mat-card-title>
                    <mat-card-subtitle>{{phi | number:'1.0-2'}}</mat-card-subtitle>
                    <mat-card-content>
                        <mat-slider vertical [max]="140" [min]="-140" formControlName="phi" thumb-label="true" step="1">
                        </mat-slider>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>

        <form [formGroup]="angleForm">
            <div class="angleGrid">
            <mat-card class="result">
                <mat-card-title>Base </mat-card-title>
                <mat-card-subtitle>{{a1 | number:'1.0-2'}}</mat-card-subtitle>
                <mat-card-content>
                    <mat-slider vertical [max]="180" [min]="-180" formControlName="a1" thumb-label="true" step="1">
                    </mat-slider>
                </mat-card-content>
            </mat-card>
            <mat-card class="result">
                <mat-card-title>Efector</mat-card-title>
                <mat-card-subtitle>{{a2 | number:'1.0-2'}}</mat-card-subtitle>
                <mat-card-content>
                    <mat-slider vertical [max]="180" [min]="-180" formControlName="a2" thumb-label="true" step="1">
                    </mat-slider>
                </mat-card-content>
            </mat-card>
            <mat-card class="result">
                <mat-card-title>Gyro</mat-card-title>
                <mat-card-subtitle>{{gyro | number:'1.0-2'}}</mat-card-subtitle>
                <mat-card-content>
                    <mat-slider vertical [max]="180" [min]="-180" formControlName="gyro" thumb-label="true" step="1">
                    </mat-slider>
                </mat-card-content>
            </mat-card>
        </div>
        </form>
    </div>


</div>