<mat-toolbar>Robot revolute-revolute</mat-toolbar>
<div class="container">
  <svg viewBox="-75 -20 250 25" width="100%" height="40%">
    <!-- <svg:g app-svg [x]="x" [y] = "y"/> -->
    <svg:g app-traditional [a1]="a1" [a2]="a2" [gyro] ="gyro"/>
  </svg>
  
  <div>
      <form [formGroup]="positionForm">
      <mat-card class="result">
            <!-- <mat-slide-toggle formControlName="sigma">{{sigma}}</mat-slide-toggle> -->
          <mat-card-title>x position </mat-card-title>
          <mat-card-subtitle>{{r | number:'1.0-2'}}</mat-card-subtitle>
          <mat-card-content>    
          <mat-slider
              [max]="140"
              [min]="-140"
              formControlName="r"
              thumb-label="true"
              step="1">
          </mat-slider>
  </mat-card-content>
</mat-card>
<mat-card class="result">
    <mat-card-title>z position </mat-card-title>
    <mat-card-subtitle>{{y | number:'1.0-2'}}</mat-card-subtitle>
    <mat-card-content>    
    <mat-slider
        [max]="140"
        [min]="-140"
        formControlName="z"
        thumb-label="true"
        step="1">
    </mat-slider>
</mat-card-content>
</mat-card>
<mat-card class="result">
    <mat-card-title>phi </mat-card-title>
    <mat-card-subtitle>{{y | number:'1.0-2'}}</mat-card-subtitle>
    <mat-card-content>    
    <mat-slider
        [max]="140"
        [min]="-140"
        formControlName="phi"
        thumb-label="true"
        step="1">
    </mat-slider>
</mat-card-content>
</mat-card>
</form>

<form [formGroup]="angleForm">
<mat-card class="result">
    <mat-card-title>Base angle </mat-card-title>
    <mat-card-subtitle>{{a1 | number:'1.0-2'}}</mat-card-subtitle>
    <mat-card-content>    
    <mat-slider 
        [max]="180"
        [min]="-180"
        formControlName="a1"
        thumb-label="true"
        step="0.01">
    </mat-slider>
</mat-card-content>
</mat-card>
<mat-card class="result">
        <mat-card-title>Efector angle </mat-card-title>
        <mat-card-subtitle>{{a2 | number:'1.0-2'}}</mat-card-subtitle>
        <mat-card-content>    
        <mat-slider
            [max]="180"
            [min]="-180"
            formControlName="a2"
            thumb-label="true"
            step="0.01">
        </mat-slider>
    </mat-card-content>
    </mat-card> 
    <mat-card class="result">
        <mat-card-title>Gyro </mat-card-title>
        <mat-card-subtitle>{{gyro | number:'1.0-2'}}</mat-card-subtitle>   
        <mat-card-content>    
        <mat-slider
            [max]="180"
            [min]="-180"
            formControlName="gyro"
            thumb-label="true"
            step="1">
        </mat-slider>
    </mat-card-content>
    </mat-card> 
    </form>
  </div>
 
  
</div>
